/*
###########
# Arrow
###########
*/

.arrow { 
  display: none;
  width: 33.333333%;
  text-align: center;
  padding: 0 20px;
  color: $red-600;
}
@media (min-width: $xs) {
  .arrow {
    display: unset;
  }
}

.arrow svg {
  width: 100%;
}
