.example-section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-top: 1px solid $gray-300;
  padding: 20px 0;
}
@media (min-width: $xs) {
  .example-section {
    padding: 30px 0;
  }
}

/*
#####
# Request
#####
*/
.request-box {
  order: 1;
  grid-column: 1 / span 4;
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 40px auto;
  gap: 2px;
}
@media (min-width: $xs) {
  .request-box {
    order: 2;
    grid-column: 1;
    grid-row: 2 / span 2;
    max-width: 260px;
  }
}

.http-method {
  border: 2px solid black;
  margin: -2px;
  text-align: center;
  padding: 10px 0;
}

.request-target {
  border: 2px solid black;
  margin: -2px;
  text-align: center;
  padding: 10px 0;
}

.http-version {
  border: 2px solid black;
  margin: -2px;
  text-align: center;
  padding: 10px 0;
}

.http-headers {
  grid-column: 1 / span 3;
  border: 2px solid black;
  margin: -2px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.http-header {
  text-align: left;
  padding: 5px 0;
}

/*
#####
# Response
#####
*/

.response-box {
  order: 2;
  grid-column: 1 / span 4;
  margin-top: 20px;
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 40px auto;
  gap: 2px;
}
@media (min-width: $xs) {
  .response-box {
    order: 4;
    grid-column: 4;
    grid-row: 2 / span 2;
    max-width: 260px;
    margin-top: 0;
  }
}

.status-code {
  border: 2px solid black;
  margin: -2px;
  text-align: center;
  padding: 10px 0;
}

.status-text {
  border: 2px solid black;
  margin: -2px;
  text-align: center;
  padding: 10px 0;
}

.http-body {
  grid-column: 1 / span 3;
  border: 2px solid black;
  margin: -2px;
  text-align: left;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}


/*
#####
# Code
#####
*/
.request-code {
  font-family: $font-mono;

  order: 2;
  grid-column: 1 / span 4;

  margin-bottom: 10px;
  font-size: $text-sm;

  margin-top: 10px;

  box-shadow: $shadow-md;
  background-color: $gray-100;
  border-radius: 4px;
  text-wrap: nowrap;
}
@media (min-width: $xs) {
  .request-code {
    order: 1;
    grid-column: 1 / span 4;
    margin: auto;
    margin-top: 0;
    margin-bottom: 30px;
  }
}

.terminal-bar {
  background-color: $gray-200;
  height: 30px;
  display: flex;
  align-items: center;

  .close-icon {
    background-color: #FF5F57;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-left: 10px;
  }
  .minimize-icon {
    background-color: #FEBC2E;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-left: 6px;
  }
  .fullscreen-icon {
    background-color: #28C840;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-left: 6px;
  }
}

.terminal-body {
  padding: 1rem 10px;
  overflow: auto;
  overflow-x: auto;
}
@media (min-width: $xs) {
  .terminal-body {
    padding: 1rem 1.4rem;
  }
}

.request-arrow {
  display: none;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 12px;
}
@media (min-width: $xs) {
  .request-arrow {
    display: unset;
    grid-column: 2 / span 2;
    grid-row: 2;
  }
}
.request-arrow > svg {
  width: 100%;
}

.response-code {
  font-family: $font-mono;
  order: 4;
  grid-column: 1 / span 4;
  margin-top: 10px;
  display: grid;
  border: 1px solid $gray-400;
  border-radius: 4px;
  overflow: hidden;
  grid-template-columns: auto 50px auto;
  font-size: 12px;
}
@media (min-width: $xs) {
  .response-code {
    order: 5;
    grid-column: 2 / span 2;
    grid-row: 3;
    margin: auto;
  }
}

.response-code-title {
  border: 1px solid $gray-400;
  margin: -1px;
  padding: 5px;
  grid-column: 1 / space 3;
  background-color: $gray-100;
  font-weight: 700;
}

.code-call {
  grid-column: 1;
  padding: 5px;
  border-bottom: 1px solid $gray-400;
  margin-bottom: -1px;
  font-weight: 700;
}

.code-output-indicator {
  grid-column: 2;
  padding: 5px;
  border-bottom: 1px solid $gray-400;
  margin-bottom: -1px;
  color: $stone-500;
}

.code-output {
  grid-column: 3;
  padding: 5px;
  border-bottom: 1px solid $gray-400;
  margin-bottom: -1px;
  color: $stone-500;
}
