$xs: 640px; // Tailwind's 'sm' breakpoint
$sm: 768px; // Tailwind's 'md' breakpoint
$md: 1024px; // Tailwind's 'lg' breakpoint
$lg: 1280px; // Tailwind's 'xl' breakpoint
$xl: 1536px; // Tailwind's '2xl' breakpoint