.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

html {
  font-family: var(--sans-font);
}

body {
  background: #f9fafb;
  font-size: 16px;
  display: flex;
  min-height: 100vh;
  flex: 1;
  margin: 0 auto;
  overflow-x: hidden;
  word-break: break-word;
  overflow-wrap: break-word;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  border-right: 2px solid #a8a29e;
  align-items: stretch;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.sidebar h1 {
  padding-bottom: 10px;
  font-size: 1.875rem;
  background-color: #AD5153;
  text-align: center;
  margin-top: 0;
  margin-bottom: 2px;
  margin-right: -2px;
}
.sidebar .rest-man {
  text-decoration: none;
  color: white;
  text-align: center;
  font-size: 40px;
}
.sidebar .powered-by {
  font-size: 0.875rem;
  color: #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sidebar .powered-by .logo {
  width: 20px;
  margin-right: 0.5rem;
  opacity: 0.75;
}
.sidebar .guides {
  display: none;
}
@media (min-width: 1024px) {
  .sidebar .guides {
    display: flex;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top: 4px;
  }
}
.sidebar ::-webkit-scrollbar {
  width: 6px;
  background-clip: padding-box;
}
.sidebar ::-webkit-scrollbar-track {
  background: #f9fafb;
  box-shadow: inset 0 0 10px 10px #f9fafb;
  margin-top: 2px;
  margin-bottom: 4px;
}
.sidebar ::-webkit-scrollbar-thumb {
  background: #78716c;
  border-radius: 10px;
}
.sidebar ::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}
.sidebar .guide {
  text-align: center;
  padding: 15px 0;
  border-top: 2px solid #e7e5e4;
  border-bottom: 2px solid #e7e5e4;
  border-left: 0;
  text-decoration: none;
  color: #78716c;
  margin-top: -2px;
  margin-right: 6px;
  margin-left: 6px;
}
.sidebar .guide:hover {
  background: #d6d3d1;
  color: #57534e;
  z-index: 1;
}
.sidebar .guide.active {
  background-color: #AD5153;
  color: white;
}
.sidebar .basic, .sidebar .advance {
  padding: 10px 0;
  text-align: center;
  font-weight: 700;
  font-size: 1.125rem;
  color: #57534e;
}
.sidebar .footer {
  display: none;
}
@media (min-width: 1024px) {
  .sidebar .footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e5e4;
    padding: 20px 0;
    margin-top: -2px;
    margin-right: -2px;
  }
  .sidebar .footer a.twitter {
    margin-right: 1rem;
    display: flex;
    align-items: center;
    opacity: 70%;
  }
  .sidebar .footer a.twitter:hover {
    background-color: unset;
    opacity: 100%;
  }
  .sidebar .footer a.twitter img {
    width: 24px;
  }
  .sidebar .footer a.github {
    display: flex;
    align-items: center;
    opacity: 70%;
  }
  .sidebar .footer a.github:hover {
    background-color: unset;
    opacity: 100%;
  }
  .sidebar .footer a.github img {
    width: 24px;
  }
}

@media (min-width: 1024px) {
  .sidebar {
    width: 240px;
    height: 100%;
  }
}
main {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 40px 0;
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

@media (min-width: 1024px) {
  main {
    margin-top: 0;
    margin-left: 240px;
  }
}
h2.title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-top: 0;
  padding-bottom: 16px;
  border-bottom: 1px solid #d1d5db;
}

.post {
  max-width: 90%;
}

@media (min-width: 768px) {
  .post {
    max-width: 640px;
  }
}
@media (min-width: 1024px) {
  .post {
    max-width: 768px;
  }
}
.post-desc {
  padding: 0;
  line-height: 1.5;
}

.post-desc pre.highlight {
  padding: 8px 16px;
  border-radius: 10px;
  overflow-x: scroll;
}

code.language-plaintext {
  font-size: 14px;
  background-color: #e5e7eb;
  font-family: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  padding-left: 4px;
  padding-right: 4px;
  border-radius: 6px;
}

.example-section {
  --box-border-color: #3f3f46;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  border-top: 1px solid #d1d5db;
  padding: 20px 0;
  font-family: monospace, "Ubuntu Mono", "Andale Mono", Monaco, Menlo, Consolas;
  row-gap: 20px;
}

@media (min-width: 640px) {
  .example-section {
    grid-template-columns: clamp(260px, 40%, 300px) 1fr clamp(260px, 40%, 300px);
    max-width: 1024px;
    margin: auto;
  }
}
.example-section:nth-of-type(2n+1) {
  border-top-color: transparent;
  padding-top: 0;
}

.example-title {
  grid-column: 1;
  font-family: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  margin: 0;
}

@media (min-width: 640px) {
  .example-title {
    grid-column: 1/span 3;
  }
}
.example-pre-desc {
  grid-column: 1;
  margin-top: -16px;
  margin-bottom: -16px;
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", Avenir, "Nimbus Sans L", Roboto, Noto, "Segoe UI", Arial, Helvetica, "Helvetica Neue", sans-serif;
  line-height: 1.4;
}

@media (min-width: 640px) {
  .example-pre-desc {
    grid-column: 1/span 3;
  }
}
.example-pre-desc pre.highlight {
  padding: 8px 16px;
  border-radius: 10px;
  overflow-x: scroll;
}

/*
#####
# Request
#####
*/
.request-box,
.redirection-request-box {
  grid-column: 1;
  border: 2px solid var(--box-border-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 40px auto;
  gap: 2px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  overflow: hidden;
  font-size: 0.875rem;
}

@media (min-width: 640px) {
  .request-box,
  .redirection-request-box {
    min-width: 260px;
    max-width: 300px;
  }
}
.http-method {
  border: 2px solid var(--box-border-color);
  margin: -2px;
  text-align: center;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.request-target {
  border: 2px solid var(--box-border-color);
  margin: -2px;
  text-align: center;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.http-version {
  border: 2px solid var(--box-border-color);
  margin: -2px;
  text-align: center;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.http-headers {
  grid-column: 1/span 3;
  border: 2px solid var(--box-border-color);
  margin: -2px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.http-header {
  text-align: left;
  padding: 5px 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}

/*
#####
# Arrow
#####
*/
.request-arrow,
.redirection-request-arrow {
  display: none;
}

@media (min-width: 640px) {
  .request-arrow,
  .redirection-request-arrow {
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 8px;
    margin-bottom: 12px;
    opacity: 0.75;
  }
}
.request-arrow > svg,
.redirection-request-arrow > svg {
  width: 80%;
}

.request-https {
  position: absolute;
}

@media (min-width: 1024px) {
  .request-https {
    margin-right: 14px;
  }
}
.https-icon {
  display: none;
}

@media (min-width: 1024px) {
  .https-icon {
    display: unset;
  }
}
.https-lock-icon {
  display: none;
}

@media (min-width: 900px) {
  .https-lock-icon {
    display: unset;
  }
}
@media (min-width: 1024px) {
  .https-lock-icon {
    display: none;
  }
}
.request-proxy {
  display: none;
}

@media (min-width: 1024px) {
  .request-proxy {
    position: absolute;
    background-color: #f9fafb;
    border: 1px solid;
    border-radius: 4px;
    padding: 4px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
}
/*
#####
# Response
#####
*/
.response-box,
.redirection-response-box {
  grid-column: 1;
  margin-top: 20px;
  border: 2px solid var(--box-border-color);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 40px auto;
  gap: 2px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  overflow: hidden;
  font-size: 0.875rem;
}

@media (min-width: 640px) {
  .response-box,
  .redirection-response-box {
    grid-column: 3;
    min-width: 260px;
    max-width: 300px;
    margin-top: 0;
  }
}
.status-code {
  border: 2px solid var(--box-border-color);
  margin: -2px;
  text-align: center;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.status-text {
  border: 2px solid var(--box-border-color);
  margin: -2px;
  text-align: center;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.http-body {
  grid-column: 1/span 3;
  border: 2px solid var(--box-border-color);
  margin: -2px;
  text-align: left;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  white-space: break-spaces;
  line-break: anywhere;
}

/*
#####
# Code
#####
*/
.terminal {
  font-family: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  grid-column: 1;
  margin-bottom: 10px;
  font-size: 0.875rem;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  background-color: #f3f4f6;
  border-radius: 6px;
  overflow: hidden;
  text-wrap: nowrap;
}

@media (min-width: 640px) {
  .terminal {
    grid-column: 1/span 3;
    margin-bottom: 30px;
  }
}
.terminal-bar {
  background-color: #e5e7eb;
  height: 30px;
  display: flex;
  align-items: center;
}
.terminal-bar .close-icon {
  background-color: #FF5F57;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-left: 10px;
}
.terminal-bar .minimize-icon {
  background-color: #FEBC2E;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-left: 6px;
}
.terminal-bar .fullscreen-icon {
  background-color: #28C840;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  margin-left: 6px;
  margin-right: 8px;
}

.terminal-tab {
  background-color: #d1d5db;
  align-self: stretch;
  padding: 0 10px;
  height: 80%;
  margin-top: auto;
  margin-left: 4px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-family: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
}

.terminal-tab.active {
  cursor: default;
  background-color: #f3f4f6;
}

.terminal-body {
  display: none;
  padding: 1rem 10px;
  overflow: auto;
  overflow-x: auto;
  background-color: #f3f4f6;
  line-height: 1.5;
}

@media (min-width: 640px) {
  .terminal-body {
    padding: 0.25rem 1rem 0.5rem 1rem;
  }
}
.terminal-body.active {
  display: block;
}

/*
#####
# GRID Order
#####
*/
.example-title {
  order: 1;
}

.example-pre-desc {
  order: 2;
}

.request-box {
  order: 3;
}

.request-arrow {
  order: 4;
}

.response-box {
  order: 5;
}

.redirection-request-box {
  order: 6;
}

.redirection-request-arrow {
  order: 7;
}

.redirection-response-box {
  order: 8;
}

.terminal {
  order: 9;
}

.http-status-table {
  border-collapse: collapse;
}

.http-status-table td {
  border: 1px solid;
}

.http-status-category {
  padding: 4px 6px;
  font-weight: 600;
}

@media (min-width: 640px) {
  .http-status-category {
    padding: 8px 16px;
  }
}
.http-status-1xx .http-status-code,
.http-status-2xx .http-status-code,
.http-status-3xx .http-status-code,
.http-status-4xx .http-status-code,
.http-status-5xx .http-status-code {
  padding: 4px 6px;
  text-align: center;
  word-break: keep-all;
}

.http-status-1xx:nth-of-type(2n) {
  background-color: #F5F5F5;
}
.http-status-1xx:nth-of-type(2n) .http-status-code {
  background-color: #C6F0F5;
}

.http-status-1xx:nth-of-type(2n+1) .http-status-code {
  background-color: #CEF8FD;
}

.http-status-2xx:nth-of-type(2n) {
  background-color: #F5F5F5;
}
.http-status-2xx:nth-of-type(2n) .http-status-code {
  background-color: #C7E9A4;
}

.http-status-2xx:nth-of-type(2n+1) .http-status-code {
  background-color: #D4F7AE;
}

.http-status-3xx:nth-of-type(2n) {
  background-color: #F5F5F5;
}
.http-status-3xx:nth-of-type(2n) .http-status-code {
  background-color: #C4BFF6;
}

.http-status-3xx:nth-of-type(2n+1) .http-status-code {
  background-color: #CDC7FF;
}

.http-status-4xx:nth-of-type(2n) {
  background-color: #F5F5F5;
}
.http-status-4xx:nth-of-type(2n) .http-status-code {
  background-color: #EFEAAD;
}

.http-status-4xx:nth-of-type(2n+1) .http-status-code {
  background-color: #F9F4B5;
}

.http-status-5xx:nth-of-type(2n) {
  background-color: #F5F5F5;
}
.http-status-5xx:nth-of-type(2n) .http-status-code {
  background-color: #F1AFAF;
}

.http-status-5xx:nth-of-type(2n+1) .http-status-code {
  background-color: #FBB7B7;
}

@media (min-width: 640px) {
  .http-status-1xx .http-status-code,
  .http-status-2xx .http-status-code,
  .http-status-3xx .http-status-code,
  .http-status-4xx .http-status-code,
  .http-status-5xx .http-status-code {
    padding: 4px 16px;
  }
}
.http-status-class {
  padding: 4px 8px;
  text-align: left;
}

.http-status-message {
  padding: 4px 8px;
  text-align: left;
}

/*# sourceMappingURL=post.css.map */