<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/syntax.css">
</head>
<body>

  <header>
    <h1>
      <a href="/">RubyGems.Guide</a>
    </h1>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <a href="/">RubyGems.Guide</a>
  </footer> 

</body>
</html>