---
layout: application
---
<body class="home">

  <header>
    <h1>
      <a href="/" class="brand">
        <img src="/images/logo-white.png" alt="logo" class="logo">
        RubyGems.Guide
      </a>
    </h1>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <a href="https://twitter.com/hoppergeegee" target="_blank" class="twitter">
      <img src="/images/social/twitter.png" alt="twitter">
    </a>
    <a href="https://github.com/rubygemsguide/rubygemsguide" target="_blank" class="github">
      <img src="/images/social/github.png" alt="github">
    </a>
  </footer> 

  <script async defer src="https://cloud.rubygems.guide/latest.js"></script>
  <noscript><img src="https://cloud.rubygems.guide/noscript.gif" alt="" referrerpolicy="no-referrer-when-downgrade" /></noscript>
</body>
