<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="stylesheet" href="/css/syntax.css">
  <link rel="stylesheet" href="/css/home.css">
</head>
<body class="home">

  <header>
    <h1>
      <a href="/">RubyGems.Guide</a>
    </h1>
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <a href="https://twitter.com/hoppergeegee" target="_blank" class="twitter">
      <img src="/images/social/twitter.png" alt="twitter">
    </a>
    <a href="https://github.com/rubygemsguide/rubygemsguide" target="_blank" class="github">
      <img src="/images/social/github.png" alt="github">
    </a>
  </footer> 

</body>
</html>